.about {
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: var(--bcg-pink-color);
}

.about__description {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  color: var(--black-color);
}
.about__description-second {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  color: var(--primary-text-color);
  margin-bottom: 62px;
}

.title__label_about {
  font-family: Titan One, sans-serif;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin: auto;
}

.title_about {
  font-family: Titan One, sans-serif;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .about__background {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/mobile/about/mobile-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 10%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/mobile/about/mobile-background@2x.png);
    }
  }

  .about__image {
    max-width: 100%;
  }

  .title__label_about {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.17;
  }

  .title_about {
    font-weight: normal;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin: 15px auto 26px;
  }

  .about__description {
    margin-bottom: 28px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.58;
    letter-spacing: normal;
  }

  .about__description-second {
    margin-bottom: 18px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.58;
  }

  .about__description-wrapper {
    padding-top: 44px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .about__button {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding-bottom: 27px;
  }

  .title__label_about {
    font-size: 26px;
    line-height: 1.15;
  }

  .title_about {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin: 16px auto 50px;
  }

  .about__description {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.79;
    letter-spacing: 0.04em;
  }

  .about__description-second {
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 1.79;
  }

  .about__wrapper {
    display: flex;
  }

  .about__description-wrapper {
    padding-top: 42px;
    padding-left: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .about__background {
    max-width: 1280px;
    margin: 0 auto;
    background-image: url(../images/desktop/about/desktop-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom -45%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/desktop/about/desktop-background@2x.png);
    }
  }

  .title__label_about {
    font-size: 30px;
    line-height: 1.13;
  }

  .title_about {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }

  .about__description {
    margin-bottom: 36px;
    font-style: normal;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
  }

  .about__description-second {
    margin-bottom: 46px;
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
  }

  .about__description-wrapper {
    padding-top: 56px;
    padding-left: 74px;
  }

  .modal-about__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    text-align: center;
    padding-bottom: 50px;
  }

  .modal-about__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill var(--delay-time) var(--time-function);
  }

  .modal-about__description {
    text-align: center;
  }
}
