.gallery {
  background: linear-gradient(to bottom, #fff5f6 46%, #fff 46%);
  padding: 46px 0 40px;

  @media screen and (min-width: 768px) {
    padding: 68px 0 60px;

    background: linear-gradient(to bottom, #fff5f6 44%, #fff 44%);
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 63px;
    padding-top: 64px;

    background: linear-gradient(to bottom, #fff5f6 42.8%, #fff 42%);
  }
}

// .galley .container {
//   padding: 0;
// }

.gallery__wrapper {
  margin: 0 auto;
}

.gallery__image {
  display: block;
  max-width: 100%;
  height: auto;
}
