body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  // @include font(400, 14px, 1.71, 0.03em);
  color: var(--black-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  transition: color var(--delay-time) var(--time-function);

  &:hover,
  &:focus {
    color: var(--red-color);
  }
}
.list {
  list-style: none;
}
