 <section class="clients">
<div class="container">
    <h2 class="clients__title visually-hidden">Customer reviews</h2>
    
    <div class="clients__item">
        <picture>
            <source srcset="./images/desktop/clients/client1-x1@1200.webp 1x, ./images/desktop/clients/client1-x2@1200.webp 2x"
                media="(min-width:1200px)" type="image/webp">
            <source srcset="./images/desktop/clients/client1-x1@1200.jpg 1x, ./images/desktop/clients/client1-x2@1200.jpg 2x"
                media="(min-width:1200px)">
            <source srcset="./images/tablet/clients/client1-x1@768.webp 1x,  ./images/tablet/clients/client1-x2@768.webp 2x"
                media="(min-width:768px)">
            <source srcset="./images/tablet/clients/client1-x1@768.jpg 1x,   ./images/tablet/clients/client1-x2@768.jpg 2x"
                media="(min-width:768px)">
            <source srcset="./images/mobile/clients/client1-x1@480.webp 1x, ./images/mobile/clients/client1-x2@480.webp 2x"
                media="(min-width:320px)" type="image/webp">
            <source srcset="./images/mobile/clients/client1-x1@480.jpg 1x, ./images/mobile/clients/client1-x2@480.jpg 2x"
                media="(min-width:320px)">
            <img class="clients__img" src="./images/desktop/clients/client1-x1@1200.jpg" alt="Emily">
        </picture>
        <div class="clients__text-wrapper">
            <p class="clients__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>

    <div class="clients__decor"></div>
        <p class="clients__name">Emily, Los Angeles</p>
    </div>

       <ul class="clients__list-dots list">
           <li class="clients__item-dots">
               <button class="clients__btn clients__btn-home ">

               </button>
        </li>
           <li class="clients__item-dots">
               <button class="clients__btn">

               </button>
        </li>
           <li class="clients__item-dots">
               <button class="clients__btn">

               </button>
        </li>
       </ul>
</section>



