#map {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms, transform 500ms, visibility 500ms;

  &:target {
    visibility: visible;
    z-index: 100;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.9);
    &::before {
      content: '';
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}

.map-core {
  width: 70vw;
  height: 70vh;
  border: none;
  border-radius: 16px;
  box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.25);
}
