#map {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  visibility: hidden;
  opacity: 0;
  // pointer-events: none;
  transition: opacity 500ms, transform 500ms, visibility 500ms;

  &:target {
    visibility: visible;
    // pointer-events: auto;
    z-index: 100;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.9);
    &::before {
      content: '';
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      // top: -50px;
      // background-image: url('../map-background.jpg');
      // opacity: 0.7;
    }
  }
}

.map-core {
  width: 70vw;
  height: 70vh;
  border: none;
  border-radius: 16px;
  // border: 10px solid rgba(0, 128, 128, 0.34);
  box-shadow: 0 0 30px 30px rgba(0, 128, 128, 0.3);
}
